/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2014, 13:53:03
    Author     : vi
*/


#fastwork {
    font: 80% white;
    background-color: black;
    padding: 5px 20px 5px 20px;
}

#fastwork a{
    text-decoration: none;
}